.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.navbar .logo{
  width: max(10%,80px);
}

.navbar .profile{
  width: 40px;
}

.navbar button.profile{
  width: auto;
  padding: 8px 12px;
  border: 1px solid #999;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}
